.opt{
    margin-top: 90px;
    color: white;
    font-size: 28px;
    line-height: 26px;
    font-weight: 700;
}
.te{
    margin-top: 40px;
    color: #DDD3C6;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

  }
  
  .subscribe-form {
    display: flex;
    border: 1px solid #999;
    border-radius: 30px;
    padding: 1px;
    background: transparent;
  }
  
  .subscribe-form input {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    outline: none;
    width: 230px;
  }
  
  .subscribe-form button {
    background-color: #ff3d00;
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .subscribe-form button:hover {
    background-color: #ff5722;
  }
  .pag{
    margin-top: 90px;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
  .pages{
    text-decoration: none;
    color: #DDD3C6;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

  }
  .pages:hover{
    color: #ff3d00;
  }
  .z{
    margin-top: 120px;
  }
  .emailicon{
    color: #ff3d00;
  }
  .emailicon:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .email{
    color: white;
    text-decoration: underline;
    display: inline;
    color: #DDD3C6;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }
  .email:hover{
    color: #ff3d00;
  }
  .designer{
    border-top: 1px solid gray;
  }
  .design{
    color: white;
    margin-top: 10px;
    font-family: Blackadder ITC;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;

  }

  